@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@400;700&display=swap');
@import 'config';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    &::selection {
        background-color: $primary-4;
        color: $white;
    }
}

body {
    position: relative;
    min-height: 100vh;
    background: linear-gradient($primary-1, $primary-2);
    color: $black;
    line-height: 1;
}

.wrapper {
    @include absolute-position(50%, 50%, translate(-50%, -50%));
    max-width: 500px;
    max-height: 95vh;
    width: 90vw;
    border-radius: $radius;
    overflow: auto;
    background-color: $white;
    box-shadow: $shadow;
    transition: $transition-2;
    transition-property: transform, visibility;
}

.header {
    padding: 1rem;
    border-radius: $radius $radius 0 0;
    background-color: $primary-3;
    color: $white;
    h2 {
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: $space;
    }
    h3 {
        font-size: 1.2rem;
        text-transform: capitalize;
    }
}

.body {
    padding: 1rem;
}

.space-between {
    @extend %flex-between;
}

.btn {
    height: 2.25rem;
    padding: 0 1rem;
    border: none;
    border-radius: $radius;
    background-color: $primary-3;
    color: $white;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: $space;
    cursor: pointer;
    transition: $transition;
    &:hover {
        background-color: $primary-4;
    }
    &.disabled {
        background-color: $grey-1;
        pointer-events: none;
    }
}

@media screen and (max-width: 400px) {
    .wrapper {
        width: 95vw;
    }
    .header {
        h3 {
            font-size: 1.1rem;
        }
    }
}

@media screen and (max-width: 350px) {
    .header {
        h2 {
            font-size: 1.8rem;
        }
    }
}

@import 'preloader';
@import 'intro';
@import 'quiz';
@import 'result';